* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    min-height: 300px;
    width: 900px;
    background-color:palegreen;
    padding: 0 10px;
}

div ul li span {
    font-weight: bold;
}